<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oauth Guide</title>
</head>
<body>
    <h1>Outh Guide</h1>

    <ul>
        <li><a href="/auth/logout">Log out</a></li>
        <li><a href="/auth/login">Log in</a></li>
        <li><a href="/">Go Home</a></li>
    </ul>
</body>
</html>